<h1><%= title%></h1>
<p>ciaoo</p>
<form action="/send" method="POST">
<input type="text" name="url" />
<input type="submit" />
</form>

<form action="/api/message" method="POST">
	url:
<input type="text" name="url" />
	token:
<input type="text" name="auth" />
<input type="submit" />
</form>

<form action="/api/auth" method="POST">
	email
<input type="text" name="email" />
	token
<input type="text" name="auth" />
<input type="submit" />
</form>


